:root {
    --primary-colour: #d1d1d1;
    --secondary-colour: #272727;
  }

.logo-width {
    width: 40px;
    display: inline-block;
}
nav {
    background-color: var(--primary-colour);
    padding: 10px;
}


#hero {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-image: url('../images/holiday-valley-hero-sunrise.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secondary-colour);
    align-items: center;
    line-height: 1.5;
    justify-content: center;
    }

#hero button {
    align-items: center;
    width: 20rem;
}
@media only screen and (max-width: 600px) {
    #hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;}
}